.activeFilter {
  background-color: turquoise;
}

.isDone {
  opacity: 0.5;
}

.label {
  display: flex;
  justify-content: start;
  overflow: hidden;
  max-width: 234px;
  word-break: break-all;
}

.taskContainer {
  position: relative;
}

.taskContainer,
.isDone {
  margin-top: 15px;
  max-width: 280px;
  border-radius: 10px;
  padding: 5px;
  transition: all 0.3s;
}

.taskContainer,
.isDone :hover {
  cursor: pointer;
}
.checkbox {
  transition: all 0.5s;
  max-height: 20px;
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
}
