.activeFilter {
  background-color: turquoise;
}

.isDone {
  opacity: 0.5;
}

.label {
  display: flex;
  align-items: center;
  justify-content: start;
  overflow: hidden;
  width: 100%;
}

.taskContainer {
  position: relative;
  border-radius: 5px;
}

.taskContainer,
.isDone {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
