.error {
  border: solid 1px red;
}

.errorMessage {
  color: red;
}

.todoList {
  background-color: #fbfcfd;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* 
@media (min-width: 350px) {
  .todolistContainer {
    padding: 0 10px;
  }
} */
