.label {
  display: flex;
  justify-content: start;
  gap: 5px;
}

.error {
  border: solid 1px red;
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: turquoise;
}

.isDone {
  opacity: 0.5;
}
