body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #333;
  padding-top: 40px;
}
.App {
  position: relative;
  overflow-x: hidden;
}
.formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.spiner {
  animation: spinner 1s infinite linear;
  margin-left: 10px;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 767.98px) {
  .columnsWraper {
    justify-content: center;
  }
}
